.main {
    padding: 20px;
    grid-area: c;
    background-color: #6883BC;
    display: flex;
    align-items: center;
    color: #1e2745;
    min-height: 89vh;
}
.info{
    padding: 20px;
    grid-area: c;
    background-color: #6883BC;
    display: flex;
    align-items: center;
    justify-content: center;
}